* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;    
}

body {   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container{
  background-color: steelblue;
  width: 1200px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ LOGIN ------------ */
.login-form{
  margin-top: 40vh;
  text-align: center;
}

.login-form input, 
.tasks .task-form input,
.comments-form input {
  display: block;
  height: 40px;
  width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.login-form input:focus{
  outline: none;
}

.login-form button {
  background-color: #390846;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.login-form button:active,
.user-details .logout-btn:active, 
.tasks .task-form button:active, 
.tasks .tasks-list button:active{
  transform: scale(0.95);
}

/* ------------ USER DETAILS ------------ */
.user-details{
  display: flex;
  align-items: center;
  
  margin: 10px 0 50px;
}

.user{
  width: 700px;
  display: none;
}

.user.show{
  display: block;
}

.user-details .user p{
  color: #fff;
  font-weight: 900;
}

.user-details .logout-btn{
  background-color: #390846;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* ------------ TASKS ------------ */
.tasks{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ add new task ------------ */
.tasks .task-form input{
  display: inline-block;
}

.tasks .task-form .task-form-select{
  padding: 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}

.tasks .task-form button{
  display: block;
  margin: auto;
  background-color: #13ad87;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

/* ------------ list of tasks ------------ */
.tasks .tasks-list{
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* ------------ task ------------ */
.task{
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.task p{
  margin: 5px 0 15px;
  font-size: 25px;
  text-transform: capitalize;
}

.task button{
  color: #fff;
  font-weight: 700;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
} 

.task .btn-edit{
  background-color: gold;
}

.task .btn-delete{
  background-color: crimson;
}

.task .task-details{
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

/* ------------ edit task ------------ */
.tasks .tasks-list .task .edit-task{
  margin: 10px 0;
}

.tasks .tasks-list .task .edit-task input{
  height: 30px;
  width: 40%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;  
}

.tasks .tasks-list .task select{
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}

/* ------------ task comments ------------ */
.post-comment{
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.post-comment h2{
  margin-bottom: 10px;
}

.comments-form .btn-post-comment{
  background-color: #1368ad;
  margin-bottom: 15px;
}


.comments h2{
  margin-bottom: 10px;
}